* {
    padding: 0em;
    margin: 0em;
    line-height: 1.4em;
}

html {
    background-image: url('../images/sfondo.jpg');
    background-color: #252525;
    background-size: 100%;
    width: 100%;
    background-attachment: fixed;
}

body {
    min-width: 420px;
    max-width: 480px;
    margin: auto;                      /* centra il body */
    background-color: #f5f5f5;
    font-family: "Roboto", Arial, sans-serif;
}
#titolo1{
  font-size: 2.5em;
}
#titolo2{
  display: none;
}
#logo{
  width: 15%;
}
#loginPic{
  width: 40%;
}
div.loginblock{
  margin-top: -68px;
  margin-right: -10px;
}
.topnav a {display: none;}
.topnav a.icon {
  width: 85px;
  float: right;
  display: block;
}

.topnav.responsive a.icon {
  float: right;
  width: 85px;
  text-align: center;
}
.topnav.responsive a {
  width:100%;
  display: block;
  text-align: center;
}

.searchbox{
  float: left;
  width: 65%;
}
.searchbutton {
    width: 15%;
}

.notizia h3{
  font-size: 0.9em;
}
p.autore{
  font-size: 0.9em;
}

.img_cover{
  margin-left: 0em;
}
p.descrizione_home{
  width: 57%;
  column-count: 1;
  column-rule: 0px;
}
#gioco_della_settimana{
  width: 50%;
}
#top5{
  width: 49%;
}

p.descrizione{
  width: 57%;
  overflow: hidden;
  column-count: 1;
  column-rule: 0px;
}

p.sinossi{
  width: 90%;
  overflow: hidden;
  column-count: 1;
  column-rule: 0px;
}
.game-image{
  padding-right: 0.5em;
}
