* {
    padding: 0em;
    margin: 0em;
    line-height: 1.4em;
}

html {
    background-image: url('../images/sfondo.jpg');
    background-color: #252525;
    background-size: 100%;
    width: 100%;
    background-attachment: fixed;
}

body {
    max-width: 1024px;
    margin: auto;                      /* centra il body */
    background-color: #f5f5f5;
    font-family: "Roboto", Arial, sans-serif;
}

/*
=========================
SEZIONE HEADER
=========================
*/

#header {
    background-color: #600000;
    padding: 1.0em;
    min-height: 2em;
}

/*
=========================
SEZIONE TITOLO
=========================
*/
#titolo1 {
    padding-left: 2em;
    color: #fff;
    font-size: 3.5em;
}

#titolo2{
  padding-left: 5.5em;
  color: #fff;
  font-size: 1.3em;
  font-style: italic;
  font-weight: normal;
}
/*
=========================
SEZIONE DROPDOWN FILTRI
=========================
*/
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*
=========================
SEZIONE LOGIN
=========================
*/

#login{
  display: block;
}

div.loginblock a{
  color: white;
}

div.loginblock {
    color: white;
    margin-top: -90px;
    float: right;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
#loginPic{
  border-radius: 50%;
  width: 50%;
  max-width: 9em;
}

#logo {
    background: transparent;
    margin-top: -0.5em;
    float: left;
    width: 10%;         /* 15% del padre */
    max-width: 9em;
}


#breadcrumb {
    background-color: #333;
    color: white;
    padding: 0.3em 0 0.3em 0.5em;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*
=========================
SEZIONE MENU
=========================
*/
.topnav {
  background-color: #333;

}

.topnav a {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #1b365d;
    border-bottom: 5px solid #54BAE2;
    border-radius: 10px;
    display: block;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

.topnav a.active, .topnav a:hover {
    background-color: #600000;
    border-bottom: 5px solid #1b365d;
}
.topnav a.active{
  pointer-events: none;
  cursor: default;
}
.topnav::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/*   ICON   */

#hamburger {
    width: 12%;         /* 15% del padre */
    max-width: 13em;
    margin-top: 6px;
}

.topnav .icon {
  display: none;
}


#menu {
    background-color: #2c2c2c;
    position: sticky;
    top: 0;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 1.5px;
    list-style: none;
}


/*
=========================
SEZIONE BARRA DI RICERCA
=========================
*/
.search_container{
  width: 100%;
}
.searchbox{
  float: right;
  width: 30%;
  margin-right: 0.5em;
}

/*se selezionata come classe viene modificata via javascript (placeholder) e crea un conflitto*/
#searchbar {
  color: black;
  background-color: white;
  width: 70%;
  height: 30px;
  margin: 2px;
  border-radius: 5px;
}

button {
  color: white;
  background-color: #1b365d;
  height: 30px;
  margin: 2px;
  border-radius: 5px;
  margin-top: 0.3em;
  cursor: pointer;
}

.searchbutton{
  width: 23%;
}


/*
=========================
SEZIONE RIGHT COLUMN
=========================
*/
#titolo_gioco_della_settimana{
  text-align: center;
}
.sidebox {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0.5em;
}
.sidebox h4{
  text-align: center;
}
.top5_title{
  text-align: center;
  font-size: inherit;
}
a.linktop{
  height: 5rem;
}
li.giocotop{
  height: 5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: table;
  width: 100%;
}
img.sfondo_giocotop{
    width: 100%;
    border-radius: 10px;
    height: inherit;
    top: 0;
    left: 0;
}
.sfondo_giocotop:hover{
  opacity: 0.8;
}
img.cover_gioco_della_settimana{
    border-radius: 10px;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
}

/*
=========================
SEZIONE CONTENUTO
=========================
*/

.leftcolumn{
  float: left;
  width:70%;
}
.rightcolumn{
  float: right;
  width:30%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  background-color: #414141;
  padding: 0.2em;
}


.notizia{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
}
.contenutoGenerale{
    background-color: #414141;
    padding: 0.2em;
}

.notizia h3 {
    float: left;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 0.5em;
    display: inline-block;
}

p.data{
  float: right;
  font-size: smaller;
}
p.descrizione {
    width: 80%;
    float: right;
    column-count: 3;
    column-rule: 1px solid #ccccb3;
    border-radius: 25px;
    border: 1px solid #000;
    background-color:#f5f5f5;
    text-align: left;
    padding: 1em;
    max-height: 180px;
}

p.autore{
    display: inline-block;
    margin: 0.5em 0em 0.5em 0em;
    text-align: left;
    width: 100%;
}

.aiutoTornaSu{
  margin: 1.1em 1em 0 0;
  text-align: right;
}

.keep_reading{
  display: inline-block;
}

.contenutoGenerale h1 {
    text-align: center;
}

.img_cover{  /* COVER NOTIZIA */
  border-radius: 10px;
  min-width: 126.61px;
  min-height: 191.02px;
  width: 126.61px;
  height: auto;
  margin-left: 0.5em;
}
.img_cover:hover{
  opacity: 0.8;
}
a.titolo_news{
  max-width: 80%;
  font-weight: bold;
  font-size: larger;
  color: black;
}

a.active.titolo_news, a:hover.titolo_news{
    color: white;
    background-color: #313131;
}
a:visited.titolo_news{
  color: #676767;
}
.wrapper{
  width: 80%;
  float: right;
}
p.descrizione_home {
    width: 75%;
    float: right;
    column-count: 3;
    column-rule: 1px solid #ccccb3;
    border-radius: 25px;
    border: 1px solid #000;
    background-color:#f5f5f5;
    text-align: left;
    padding: 1em;
    max-height: 180px;
    overflow: hidden;
}

/*
=========================
SEZIONE FOOTER
=========================
*/

#footer {
    position: relative;
    text-align: center;
    font-size: 0.7em;
    padding: 1.5em;
    padding-top: 1.3em;
    font-style: italic;
    border-top: 1px solid #ddd;
}

#imgValidCode {
    margin-top: -0.5em;
    float: left;
}

#imgValidCSS {
  margin-top: -0.5em;
  float: right;
}

.structural {
position:absolute;
left:-9999px;
}
/*
.aiutiNascosti {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
*/
/*
=========================
SEZIONE FILTRI
=========================
*/


/*.filters {
  position: absolute;
}*/

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

/*
=========================
SEZIONE LETTERE
=========================
*/


/*.a-z_list{
  position: relative;
}*/



.letters a {
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 20px;
  text-align: center;
  background-color: #1b365d;
  display: block;
  margin: 2px;
}
.letters a:hover{
  background: green;
}

.a-z_list{
  min-height: 50px;
}
/* AZ list */
.letters li{
  list-style-type: none;
}
.btn-letter{
  float: left;
  display: inline-block;
}
.filters{
  display: inline-block;
  padding: 0.1em;
  float: left;
  width: 54%;
}
.a-z_list{
  float: right;
  width:45%;
}


/* Clear floats after the columns */
#advance_filter:after {
  content: "";
  display: table;
  clear: both;
}


p.sinossi {
  width: 90%;
  column-count: 3;
  column-rule: 1px solid #ccccb3;
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  text-align: left;
  padding: 1em;
  max-height: 180px;
}

.game{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
  display: flex;
  text-align: justify;
}

.game-image{
  padding-right: 2em;
}
/*
.game-description{
  float: right;
  width: 60%;
}

@media screen and (max-width: 1000px) {
  .game-image{
    width: 100%;
  }
  .game-description{
    padding: 0.1em;
    float: left;
    width: 100%;
  }
}*/

.container {
    background-color: #414141;
    padding: 0.2em;
}

#submenu {
    background-color: #2c2c2c;
    position: sticky;
    top:40px;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 1.5px;
    list-style: none;
}

.leftnav a {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: red;
    border-bottom: 5px solid #54BAE2;
    border-radius: 10px;
    display: block;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

.leftnav{
  display:inline-block;
  background-color: #333;
  overflow: hidden;
}

.leftnav a.active, .leftnav a:hover {
    background-color: #600000;
    border-bottom: 5px solid #1b365d;
}
.leftnav a.active{
  pointer-events: none;
  cursor: default;
}
.leftnav::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.gioco{
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.2em;
    display: flex;
    text-align: justify;
}

p.trama{
  width: 90%;
  column-count: 2;
  column-rule: 1px solid #ccccb3;
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  text-align: left;
  padding: 1em;
  max-height: auto;
}

.recensione{
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.2em;
}

.title1{
  display: inline-block;
}
.title2{
  display: inline-block;
}

.vote{

}

p.testo{
  width: 95%;
  column-count: 2;
  column-rule: 1px solid #ccccb3;
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  text-align: left;
  padding: 1em;
  max-height: auto;
}

/*
=========================
FORM VARIE
=========================
*/

/* non funziona in searchbar per specificita' */
.deftext {
  color: grey;
}

.invisibile {
  display: none;
}

.visibile {
  display: block;
}

#corto {
  width: 16%;
}

/*======================================*/

.textbox{
  width: 90%;
  height: 50px;
  padding-left:2em;
  float: left;
  display: inline-block;

}

.insertcomment{
  width: 5%;
  height: 50px;
  float: right;
}

.sfondo_rec{
    width: 100%;
    border-radius: 10px;
    height: inherit;
    top: 0;
    left: 0;
}
