* {
    padding: 0em;
    margin: 0em;
    line-height: 1.4em;
}

html {
    background-image: url('../images/sfondo.jpg');
    background-color: #252525;
    background-size: 100%;
    width: 100%;
    background-attachment: fixed;
}

body {
    max-width: 1024px;
    margin: auto;                      /* centra il body */
    background-color: #f5f5f5;
    font-family: "Roboto", Arial, sans-serif;
}
fieldset{
  border: 0px;
}
a.link{
    font-weight: bold;
    color: black;
}
a.link:visited{
    color: #676767;
}
a.link:hover, a.link_login:hover{
    color: white;
    background-color: #313131;
}

/*
=========================
SEZIONE HEADER
=========================
*/

#header {
    background-color: #600000;
    padding: 1.0em;
    min-height: 2em;
}

/*
=========================
SEZIONE TITOLO
=========================
*/
#titolo1 {
    margin-left: 2.2em;
    color: #fff;
    font-size: 3em;
}

#titolo2{
  margin-left: 5.2em;
  color: #fff;
  font-size: 1.3em;
  font-style: italic;
  font-weight: normal;
}
/*
=========================
SEZIONE DROPDOWN FILTRI
=========================
*/
/* Dropdown Button
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

/*
=========================
SEZIONE LOGIN
=========================
*/

#login{
  display: block;
}

div.loginblock a{
  color: white;
}

div.loginblock {
    color: white;
    margin-top: -6.5em;
    float: right;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#loginPic{
  border-radius: 50%;
  width: 50%;
  max-width: 9em;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

#logo {
    float: left;
    width: 6em;         /* 15% del padre */
    max-width: 9em;
}


#breadcrumb {
    background-color: #333;
    color: white;
    padding: 0.3em 0 0.3em 0.5em;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.link_breadcrumb{
  color: white;
}

/*
=========================
SEZIONE MENU
=========================
*/
.topnav {
  background-color: #333;

}

.topnav a, button.icon {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #1b365d;
    border-bottom: 5px solid #54BAE2;
    border-radius: 10px;
    display: block;
    margin: 2px;
    float: left; /* elementi su singola riga */
}
button.icon{
  height: 36px;
}

.topnav a.active, .topnav a:hover, button:hover.icon {
    background-color: #600000;
    border-bottom: 5px solid #1b365d;
}
.topnav a.active{
  pointer-events: none;
  cursor: default;
}
.topnav::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/*   ICON   */

#hamburger {
    width: 12%;         /* 15% del padre */
    max-width: 13em;
    margin-bottom: 4px;
}

.advance_filter{
  display: inline-block;
}
.topnav .icon {
  display: none;
}

#menu {
    background-color: #2c2c2c;
    position: sticky;
    top: 0px;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 1.5px;
    list-style: none;
    z-index: 2;
}

/*=========================
SEZIONE BARRA DI RICERCA
=========================*/

.search_container{
  width: 100%;
}
.searchbox{
  float: right;
  width: 30%;
  margin-right: 0.5em;
}

input {
  background-color: white;
  width: 70%;
  height: 30px;
  margin: 2px;
  padding-left: 0.5em;
  border-radius: 5px;
}

button {
  color: white;
  background-color: #1b365d;
  padding: 0.5em;
  margin: 2px;
  border-radius: 5px;
  margin-top: 0.3em;
  cursor: pointer;
}

.searchbutton{
  width: 5em;
  height: 2.5em;
}

.menu{
  list-style-type: none;
}
/*
=========================
SEZIONE RIGHT COLUMN
=========================
*/
#titolo_gioco_della_settimana, .titolo_info_scheda{
  text-align: center;
}
.titolo_info_scheda{
  padding: 0.5em 0.5em 0em;
}
.sidebox {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0.5em;
  display: inline-block;
}
.sidebox h4{
  text-align: center;
}
.titolo_last_games{
  text-align: center;
  font-size: inherit;
}
a.linktop{
  height: 5rem;
}
li.giocotop{
  height: 5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: table;
  width: 100%;
}
img.sfondo_giocotop, img.cover_scheda{
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
}
img.sfondo_giocotop{
  border-radius: 10px;
}
.sfondo_giocotop:hover{
  opacity: 0.8;
}
img.cover_gioco_della_settimana{
    border-radius: 10px;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
}
.info_scheda{
  padding: 0.5em;
}
dl.info{
  padding: 0.5em;
}
dl.info dt, dl.info_scheda dt{
  float: left;
  width: 50%;
  font-weight: bold;
  display: inline-block;
}
dl.info dd{
  display: inline-block;
  width: 50%;
  padding-bottom: 1.5em;
}
dl.info_scheda dd{
  display: inline-block;
  width: 50%;
  padding-bottom: 1.5em;
}
.info_gioco_scheda{
  background-color: #f5f5f5;
  border: 1px solid;
  border-radius: 25px;
  float: left;
  display: inline-block;
  width: 29%;
  margin-right: 5px;
}
/*
=========================
SEZIONE CONTENUTO
=========================
*/

.leftcolumn{
  float: left;
  width:70%;
}
.rightcolumn{
  float: right;
  width:30%;
}
/* Clear floats after the columns */
.row:after, .container_scheda::after {
  content: "";
  display: table;
  clear: both;
}
.row, .container_scheda{
  background-color: #414141;
  padding: 0.2em;
}

.notizia, .game{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
  overflow: auto;
}
.contenutoGenerale{
    background-color: #414141;
    padding: 0.2em;
}

.notizia h3 {
    float: left;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 0.5em;
    display: inline-block;
}

p.data{
  float: right;
  font-size: smaller;
}
p.valutazione{
  float: right;
  font-weight: bold;
}
p.descrizione {
    column-count: 3;
    column-rule: 1px solid #ccccb3;
    border-radius: 25px;
    border: 1px solid #000;
    background-color:#f5f5f5;
    text-align: left;
    padding: 1em;
}

p.autore, p.data_pubblicazione_gioco{
    display: inline-block;
    margin: 0.5em 0em 0.5em 0em;
    text-align: left;
    width: 100%;
}

.aiutoTornaSu{
  margin: 1.1em 1em 0 0;
  float: right;
}

.keep_reading{
  display: inline-block;
}

.contenutoGenerale h1 {
    text-align: center;
}

.img_cover{  /* COVER NOTIZIA */
  border-radius: 10px;
  min-width: 126.61px;
  min-height: 191.02px;
  width: 126.61px;
  height: auto;
  margin-right: 0.5em;
  float: left;
}
.img_cover:hover{
  opacity: 0.8;
}
a.titolo_news{
  max-width: 80%;
  font-weight: bold;
  font-size: larger;
  color: black;
}

a.active.titolo_news, a:hover.titolo_news{
    color: white;
    background-color: #313131;
}
a:visited.titolo_news{
  color: #676767;
}
.wrapper{
  width: 80%;
  float: right;
}
p.descrizione_home {
    column-count: 3;
    column-rule: 1px solid #ccccb3;
    border-radius: 25px;
    border: 1px solid #000;
    background-color:#f5f5f5;
    text-align: left;
    padding: 1em;
}

/*
=========================
SEZIONE FOOTER
=========================
*/

#footer {
    position: relative;
    text-align: center;
    font-size: 0.7em;
    padding: 1.5em;
    padding-top: 1.3em;
    font-style: italic;
    border-top: 1px solid #ddd;
}

#imgValidCode {
    margin-top: -0.5em;
    float: left;
}

#imgValidCSS {
  margin-top: -0.5em;
  float: right;
}

.structural {
position:absolute;
left:-9999px;
}
/*
.aiutiNascosti {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
*/
/*
=========================
SEZIONE FILTRI
=========================
*/


.dropbtn {
  background-color: #74c243;
  color: black;
  padding: 0.4em;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {background-color: #3e8e41;}

.dropdown {
  display: inline-block;
}


.dropdown-filter {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown:hover .dropdown-filter, .show {display: block;}

/*
=========================
SEZIONE LETTERE
=========================
*/

.filters{
  display: inline-flex;
}
/* Clear floats after the columns */
/*#advance_filter:after {
  content: "";
  display: table;
  clear: both;
}*/



.intestazione{
  display: inline-block;
  margin-bottom: 1em;
}
.titolo_e_data{
  float:left;
}

.spazio_contenuto{
  margin-top: 1em;
}
/*
.game-description{
  float: right;
  width: 60%;
}

@media screen and (max-width: 1000px) {
  .game-image{
    width: 100%;
  }
  .game-description{
    padding: 0.1em;
    float: left;
    width: 100%;
  }
}*/

.container {
    background-color: #414141;
    padding: 0.2em;
}

#submenu {
    background-color: #2c2c2c;
    position: sticky;
    top:41px;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 1.5px;
    list-style: none;
}

.leftnav a {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 9.7em;
    height: 30px;
    text-align: center;
    background-color: #1b365d;
    border-bottom: 5px solid #54BAE2;
    border-radius: 10px;
    display: block;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

.leftnav{
  display:inline-block;
  background-color: #333;
  overflow: hidden;
}

.leftnav a.active, .leftnav a:hover {
    background-color: #600000;
    border-bottom: 5px solid #1b365d;
}
.leftnav a.active{
  pointer-events: none;
  cursor: default;
}
.leftnav::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}


.gioco{
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.2em;
    display: flex;
    text-align: justify;
}

p.trama{
  column-count: 2;
  column-rule: 1px solid #ccccb3;
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  text-align: left;
  padding: 1em;
  max-height: auto;
}

.recensione{
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.2em;
}

.title1{
  display: inline-block;
}
.title2{
  display: inline-block;
  margin-left: 0.5em;
}

.vote{
  float: right;
  padding-right: 2em;
  padding-top: 0.5em;
  font-weight: 800;
}

p.testo{
  width: 95%;
  column-count: 2;
  column-rule: 1px solid #ccccb3;
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  text-align: left;
  padding: 1em;
  max-height: auto;
}

/*=========================
FORM
=========================*/

label, input { display: inline-block; }

.schedaForm label {
  width: 22%;
  text-align: right;
}

.schedaForm input {
  width: 40%;
  margin: 5px;
}

.schedaForm>p{
  margin-left: 0.5em;
}

.invisibile { display: none; }

.visibile { display: block; }

.schedaForm {
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
  overflow: auto;
}

.schedaForm fieldset {
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 10px;
  margin: 0.2em;
}

.schedaForm button {
  width: 20%;
  font-weight: bold;
  float:left;
}

.schedaForm button+p {
  padding: 0.5em;
  margin-left: 22%;
}

.schedaForm input[type=radio], .schedaForm input[type=checkbox] {
  width: 2%;
  height: 1.2em;
  padding-left: 0;
}

.schedaForm input[type=radio]+label, .schedaForm input[type=checkbox]+label {
  width: 14%;
  text-align: left;
}

.gruppoCheck {
  margin-left: 5%;
}

.schedaForm input[type=file] {
  padding-top: 0.5em;
}

.schedaForm input[type=file] {
  background-color: #f5f5f5;
}

#handler p{
  float: left;
  width: 20%;
}

fieldset .textAreaLabel {
  width: 23%;
}

textarea {
  resize: none;
  vertical-align: top;
  width: 60%;
}​

input[type=text], textarea {
  padding: 5px;
}

.messaggi {
  width: 34%;
  padding-top: 0.5em;
  float: right;
  text-align: left;
}

p+p.messaggi {
  float: none;
  clear: both;
  display: inline-block;
  margin-left: 0.5em;
  width: auto;
}

.spuntabili {
  width: auto;
  display: inline-block;
}

#labelTipologia+p {
  width: auto;
}

.gruppo label{
  width: 10%;
}

.erroreBox { border: 2px solid red; }

.correttoBox { border: 2px solid green; }

.messaggio {
  float: right;
  padding-right: 1em;
}

textarea.correttoBox+p {
  width: 13%;

}

textarea.erroreBox+p {
  float: none;
  margin-left: 24%;
}

/*======================================*/

/*
=========================
PROFILO
=========================
*/

.centrato {
  margin-left: 36%;
  margin-bottom: 0.5em;
}

.schedaAdmin {
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
  overflow: auto;
}

#imgProfilo {
  width: 35%;
  border-radius: 5%;
  float: left;
  border: solid;
  color: black;
  border-width: 2px;
}

.infoUtente {
  float: left;
  padding-left: 1em;
}

.schedaAdmin dt {
  font-weight: bold;
}

#subContent .AdminBox {
  max-width:100%;
  border:0em;

}

.schedaAdmin>div {
  padding: 1em;
}

.AdminBox {
  width:30%;
  margin:auto;
  float: left;
  text-align: center;
  font-weight: bolder;
}

.AdminImage {
  width: 55%;
  height: 55%;
}

.nuovoUtente {
  width: 30%;
  margin-left: 32%;
  clear: both;
  text-align: center;
}

/*======================================*/

.sfondo_rec{
    width: 100%;
    border-radius: 10px;
    height: inherit;
    top: 0;
    left: 0;
}


.textbox{
  width: 87%;
  margin-left: 0.5em;
  min-height: 40px;
}

.insertcomment{
  width: 9%;
  min-height: 40px;
  margin-top: 1.5em;
  margin-left: 0.5em;
}

.miocommento{
  margin-bottom: 0.5em;
}

.commenti{
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.2em;
}

.lista_commenti{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
}

.commento_singolo{
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  max-height: auto;
  padding:1em;
  margin-bottom: 0.4em;
}
.commentatore{
  display: inline-block;
  width:30%;
}
.datapubb{
  float: right;
}

.lista_notizie{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
}

.filtri_categorie{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 0.2em;
  display: inline-block;
  float: left;
  margin-right: 0.4em;
}

.filtri_ordine{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.3em;
  margin-top: 0.2em;
  display: inline-block;
}

.erroriFiltri {
  color: red;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  width: 57%;
  margin-top: 0.2em;
  border: 1px solid #000;
}

.tipo_categorie{
  float: left;
  margin-top: 0.7em;
  margin-right: 0.4em;
}
.tipo_ordine{
  float: left;
  margin-top: 0.7em;
  margin-right: 0.4em;
}

.bottoniOrdine{
  display: inline-block;
}

/* Customize the label (the container) */
.customLabel {
  display: block;
  position: relative;
  padding: 0.2em 1em 0.4em 1.7em;
  margin-bottom: -1.5em;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.customLabel:hover{
  background-color: #ccc;
}

/* Hide the browser's default checkbox */
.customLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 5px;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.customLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customLabel input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customLabel .checkmark:after {
  left: 3px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.radiomark {
  position: absolute;
  top: 6px;
  left: 5px;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #000;
}

.customLabel:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customLabel input:checked ~ .radiomark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.customLabel input:checked ~ .radiomark:after {
  display: block;
}

.customLabel .radiomark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

a.name{
  max-width: 80%;
  font-weight: bold;
  font-size: larger;
  color: black;
}

a.active.name, a:hover.name,{
    color: white;
    background-color: #313131;
}
a:visited.name{
  color: #676767;
}

.lista_utenti{
  background-color: #414141;
  padding: 0.2em;
  padding-top: 0.4em;
}

.utente{
  border-radius: 25px;
  border: 1px solid #000;
  background-color:#f5f5f5;
  padding:1em;
  margin-bottom: 0.4em;
}

.info_utente {
    float: right;
    width: 90%;
    padding-top: 0.8em;
}

.azioni_admin_utente{
  float: right;
  padding-right: 1em;
}

.nome_utente{
  padding-top: 0.2em;
  float: left;
  font-size: 150%;
  font-weight: bold;
}

#fotoUtente{
  border-radius: 50%;
  width: 50%;
  max-width: 4em;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.modifica{
  margin: 1.1em 1em 0 0;
  float: left;
}

.pagina_notizia{
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.2em;
}

#rosso.ao {
  background-color: red;
}
#modifica_scheda_gioco{
  padding-left: 5.2em;
  margin-top: 0;
  margin-bottom: 1em;
}

#modifica_scheda_recensione{
  float: none;
  text-align: right;
  padding-right: 1em;
}

#modifica_scheda_notizia{
  float: none;
  text-align: right;
  padding-right: 1em;
}

.notizia_cover{
  border-radius: 10px;
  min-width: 148.61px;
  min-height: 220.02px;
  width: 126.61px;
  height: auto;
  margin-right: 1em;
  margin-left: 0.5em;
  float: left;
}
