<div class="schedaAdmin">
    <h2>Sezione Admin:</h2>
    <div>
      <div class="AdminBox">
        <a href="form_notizia.php"><img src="../images/news.jpg" alt=""  class="AdminImage"></a>
        <p>Nuova notizia</p>
      </div>

      <div class="AdminBox">
          <a href="form_gioco.php"><img src="../images/game.png" alt="" class="AdminImage"></a>
          <p>Nuovo gioco</p>
      </div>

      <div class="AdminBox">
          <a href="lista_utenti.php"><img src="../images/users.png" alt="" class="AdminImage"></a>
          <p>Gestione utenti</p>
      </div>
    </div>
</div>