<div class="schedaAdmin">
    <h3>Sezione Admin:</h3>
    <div>
      <div class="AdminBox">
        <a tabindex="-1" href="form_notizia.php"><img src="../images/news.jpg" alt=""  class="AdminImage"></a>
        <p><a class="link" href="form_notizia.php">Nuova notizia</a></p>
      </div>

      <div class="AdminBox">
          <a tabindex="-1" href="form_gioco.php"><img src="../images/game.png" alt="" class="AdminImage"></a>
          <p><a class="link" href="form_gioco.php">Nuovo gioco</a></p>
      </div>

      <div class="AdminBox">
          <a tabindex="-1" href="lista_utenti.php"><img src="../images/users.png" alt="" class="AdminImage"></a>
          <p><a class="link" href="lista_utenti.php">Gestione utenti</a></p>
      </div>
    </div>
</div>
