
<li class="commento_singolo">
  <div class="intestazione_commento">
    <img id="foto_commentatore" src="<comment_author_profile_img_path_ph/>">
    <span class="commentatore"> <comment_author_ph/> </span>
    <span class="data_post"> <comment_date_ph/> </span>
  </div>
  <div class="contenuto_commento">
    <p class="testo_commento"> <comment_content_ph/> </p>
    <admin_func_ph><p class="deleteComment"><button type="submit" name="deleteComment" value="<comment_delete_ph/>">Elimina commento</button></p></admin_func_ph>
  </div>
</li>
