

    <div class="container" id="content">
        <div class="schedaForm">
            <h3 class="titolo_form">Form per l'inserimento di un nuovo gioco</h3>
            <p class="avviso_importante">I campi marcati con * sono opzionali</p>
            <form id="formGioco" method="post" action="edit_gioco.php" onsubmit="return validateForm();" enctype="multipart/form-data">

                <messaggiForm_ph />

                <fieldset>
                    <label for="nome">Nome: </label>
                    <span><input type="text" id="nome" name="nome" value="<game_name_ph/>" placeholder="Nome gioco" /></span><br />

                    <label for="sviluppo">Casa di sviluppo: </label>
                    <span><input type="text" id="sviluppo" name="sviluppo" value="<developer_ph/>" placeholder="Casa di sviluppo" /></span><br />

                    <label for="pegi"><abbr title="Pan European Game Information">PEGI</abbr>: </label>
                    <span><input type="text" id="pegi" name="pegi" value="<age_range_ph/>" placeholder="possibili valori: 3, 7, 12, 16, 18" /></span><br />

                    <label for="data">Data di rilascio: </label>
                    <span><input type="date" name="data" id="data" value="<date_ph/>"></span><br />
                </fieldset>

                <fieldset>
                    <span><p id="labelConsole" class="spuntabili">Console:</p></span>
                    <div class="gruppoCheck">
                        <ul class="checkbox">
                            <li><input type="checkbox" name="console[]" value="PS4" id="PS4" <checked_console_0/> />
                            <label for="PS4"><abbr title="Pan European Game Information">PS4</abbr></label></li>
                            <li><input type="checkbox" name="console[]" value="XboxOne" id="XboxOne" <checked_console_1/> />
                            <label for="XboxOne">XboxOne</label></li>
                            <li><input type="checkbox" name="console[]" value="Switch" id="Switch" <checked_console_2/> />
                            <label for="Nintendo Switch">Switch</label></li>
                            <li><input type="checkbox" name="console[]" value="PS5" id="PS5" <checked_console_3/> />
                            <label for="PS5"><abbr title="Pan European Game Information">PS5</abbr></label></li>
                            <li><input type="checkbox" name="console[]" value="XboxSeriesX" id="XboxSeriesX" <checked_console_4/> />
                            <label for="XboxSeriesX">XboxSeriesX/S</label></li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset>
                    <span><p id="labelGenere" class="spuntabili">Generi:</p></span>
                    <div class="gruppoCheck">
                        <ul class="checkbox">
                            <li><input type="checkbox" name="genere[]" value="Avventura" id="Avventura" <checked_genere_0/> />
                            <label for="Avventura">Avventura</label></li>
                            <li><input type="checkbox" name="genere[]" value="Azione" id="Azione" <checked_genere_1/> />
                            <label for="Azione">Azione</label></li>
                            <li><input type="checkbox" name="genere[]" value="FPS" id="FPS" <checked_genere_2/> />
                            <label for="FPS"><abbr xml:lang="en" title="First-person shooter">FPS</abbr></label></li>
                            <li><input type="checkbox" name="genere[]" value="GDR" id="GDR" <checked_genere_3/> />
                            <label for="GDR"><abbr title="Giochi di ruolo">GDR</abbr></label></li>
                            <li><input type="checkbox" name="genere[]" value="Horror" id="Horror" <checked_genere_4/> />
                            <label for="Horror" xml:lang="en">Horror</label></li>
                            <li><input type="checkbox" name="genere[]" value="Puzzle" id="Puzzle" <checked_genere_5/> />
                            <label for="Puzzle">Puzzle</label></li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset>
                    <label for="immagine">Immagine: </label>
                    <span><input type="file" id="immagine" name="immagine" /></span><br />

                    <label for="alternativo">*Alt immagine: </label>
                    <span><input type="text" id="alternativo" name="alternativo" class="opzionale" value="<img_alt_ph/>" placeholder="Testo alternativo" /></span>
                </fieldset>

                <fieldset id="cercaTitolo">

                    <label for="voto">Voto: </label>
                    <span><input type="text" id="voto" name="voto" value="<vote_ph/>" placeholder="Voto da 0 a 5" /></span><br />

                    <label for="searchbar">*Prequel:</label>
                    <span><input list="listaPrequel" name="prequel" id="prequel" class="opzionale" value="<prequel_ph/>" placeholder="Cerca prequel" aria-label="Campo per la ricerca del sequel del gioco" /></span><br />
                    <datalist id="listaPrequel" class="formText">
                      <opzioni_form_ph />
                    </datalist>

                    <label for="searchbar">*Sequel:</label>
                    <span><input list="listaSequel" name="sequel" id="sequel" class="opzionale" value="<sequel_ph/>" placeholder="Cerca sequel" aria-label="Campo per la ricerca del prequel del gioco" /></span><br />
                    <datalist id="listaSequel" class="formText">
                      <opzioni_form_ph />
                    </datalist>

                    <label for="dlc"><abbr title="downloadable content" xml:lang="en">*DLC:</abbr> </label>
                    <span><input type="text" id="dlc" name="dlc" class="opzionale" value="<dlc_ph/>" placeholder="Inserisci il nome del DLC" /></span>
                </fieldset>

                <fieldset>
                    <label for="descrizione" class="textAreaLabel">Descrizione: </label>
                    <span><textarea id="descrizione" name="descrizione" rows="10" cols="50" placeholder="Descrizione del gioco, deve essere lunga almeno 25 caratteri"><sinopsis_ph/></textarea></span>
                </fieldset>

                <fieldset>
                    <label for="recensione" class="textAreaLabel">*Recensione: </label>
                    <span><textarea id="recensione" name="recensione" class="opzionale" rows="10" cols="50" placeholder="Recensione del gioco, deve essere lunga almeno 25 caratteri"><review_ph/></textarea></span>
                </fieldset>

                <!--uso il seguente input per tenere menoria del gioco che voglio modificare-->
                <input type="hidden" id="game" name="game" value="<game_name_ph/>" placeholder="supporto" /></span><br />

                <fieldset>
                    <button type="submit" name="submit">Salva Modifiche</button>
                    <p>Salva le modifiche e torna alla pagina principale Admin</p>
                </fieldset>

            </form>

            <div id="bottoniOpzionali">
                <form action="profilo.php">
                  <fieldset>
                    <button type="submit">Annulla Modifiche</button>
                    <p>Annulla le modifiche apportate e torna alla pagina principale Admin</p>
                  </fieldset>
                </form>
                <form method="post" action="edit_gioco.php">
                  <fieldset>
                    <button type="submit" name="elimina" value="<game_name_ph/>">Elimina Gioco</button>
                    <p>Elimina il gioco e torna alla pagina Admin. Non sarà possibile annullare questa azione.</p>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>