


  <div id="content" class="contenutoGenerale">
    <div class="schedaForm">
      <h1>Modifica o Elimina il tuo account ALLGames</h1>
      <form action="edit_profilo.php" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">

        <messaggi_form_ph/>

        <fieldset>
          <h2>Dati personali</h2>
          <p class="required">I campi marcati con * sono obbligatori</p>
          <p class="required">Password da 6 a 16 caratteri, fra cui almeno una maiuscola e un simbolo</p>

          <label for="mail">Email</label>
          <input type="text" name="email" id="mail" class="required" value="<email_ph/>"/><br />

          <label for="imgPerProfilo">Immagine profilo</label>
          <input type="file" name="immagine" id="imgPerProfilo" class="opzionale" /><br />
        </fieldset>

        <fieldset>
          <p> Se vuoi cambiare password scrivi quella nuova nei due form seguenti </p>
          <label for="password">Password </label>
          <span><input type="password" name="password" id="password" class="opzionale" /></span><br />

          <label for="repeatpassword">Ripeti password </label>
          <span><input type="password" name="repeatpassword" id="repeatpassword" /></span><br />
          <button type="submit" name="salva">Salva modifiche</button>
          <button type="submit" name="annulla">Annulla modifiche</button>
          <button type="submit" name="elimina">Elimina profilo</button>
        </fieldset>
      </form>
    </div>
  </div>
