
<div class="game">
  <div class="news_top_bar">
    <p class="valutazione"> Voto: <game_vote_ph/> </p>
    <h3><a class="link" href="<game_scheda_url_ph/>"> <game_name_ph/></a></h3>
    <p class="data_pubblicazione_gioco"> Pubblicato il <game_date_ph/> </p>
  </div>
    <a href="<game_scheda_url_ph/>"><img class="img_cover" src="<img_path_ph/>" alt="<img_alt_ph/>" /></a>
    <p class="descrizione">
      <game_sinossi_ph/>
    </p>
    <p class="torna_su"><a class="link" href="#top">Torna su</a></p>
    <admin_func_ph><p class="modifica"><a class="link" href="<game_edit_ph/>">Modifica Gioco</a></p></admin_func_ph>
</div>
