<div class="game">
        <div class="game-image">
          <a href="<game_scheda_url_ph/>"><img class="img_cover" src="<img_path_ph/>" alt="<img_alt_ph/>" /></a>
        </div>
        <div class="game-description">
          <h3><a href="<game_scheda_url_ph/>" class="name"><game_name_ph/></a></h3>
          <p class="date">Pubblicato il <game_date_ph/></p>
          <h4 class="vote">Voto: <game_vote_ph/></h4>
          <p class="sinossi">
            <game_sinossi_ph/>
            <a class="keep_reading" href="<game_scheda_url_ph/>"> Vai alla scheda del gioco</a>
          </p>
        </div>
      </div>
