
<div class="container">
  <div class="leftnav" id="submenu">
    <a class="active" href="<gioco_scheda_ph/>"><span xml:lang="en">Scheda Gioco</span></a>
    <a href="<gioco_recensione_ph/>">Recensione Gioco</a>
    <a href="<gioco_notizie_ph/>">Notizie Gioco</a>
  </div>
  <div class="gioco">
    <div class="info_gioco">
      <img class="img_cover" src="<img_path_ph/>" alt="<img_alt_ph/>">
      <table class="info">
        <tr>
          <th style>
            <h5>Piattaforma:</h5>
          </th>
          <td class style>
            <p>PS4,Xbox One,PC</p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Data pubblicazione:</h5>
          </th>
          <td class style>
            <p><publication_date_ph/></p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Genere:</h5>
          </th>
          <td class style>
            <p>Action,RPG</p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Sviluppo:</h5>
          </th>
          <td class style>
            <p>FromSoftware</p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Pubblicazione:</h5>
          </th>
          <td class style>
            <p>FromSoftware,Bandai Namco</p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Fascia di età:</h5>
          </th>
          <td class style>
            <p><age_range/></p>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Espansioni:</h5>
          </th>
          <td class style>
            <ul class="expansion">
              <li>
                <a href="DS3ariandel.html">Ashes of Ariandel</a>
              </li>
              <li>
                <a href="DS3ringedcity.html">The Ringed City</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Prequel:</h5>
          </th>
          <td class style>
            <ul class="serie">
              <li>
                <a href="DS2.html">Dark Souls 2</a>
              </li>
              <li>
                <a href="DS1.html">Dark Souls</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th style>
            <h5>Sequel:</h5>
          </th>
          <td class style>
            <ul class="serie">
              <li>
                <p>Nessuno</p>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="trama_gioco">
      <h3><game_name_ph/></h3>
      <p class="trama">
        <sinopsis_ph/>
      </p>
    </div>
  </div>
</div>