
<div class="container">
    <div id="advance_filter">
        <form class="filters" id="filtri" action="/action_page.php">
          <div class="dropdown">
            <button type="button" class="dropbtn" onclick="OpenConsole()">Console
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="console">
              <input type="checkbox" id="console1" name="console1" value="PS5" onclick="" />
              <label for="console1">PS5</label><br />
              <input type="checkbox" id="console2" name="console2" value="PS4" onclick="" />
              <label for="console2">PS4</label><br />
              <input type="checkbox" id="console3" name="console3" value="XboxOne" onclick="" />
              <label for="console3">Xbox One</label><br />
              <input type="checkbox" id="console4" name="console4" value="XboxSeries" onclick="" />
              <label for="console4">Xbox Series</label><br />
              <input type="checkbox" id="console5" name="console5" value="Switch" onclick="" />
              <label for="console5">Nintendo Switch</label><br />
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="dropbtn" onclick="OpenGeneri()">Generi
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="generi">
              <input type="checkbox" id="genere1" name="genere1" value="FPS" onclick="" />
              <label for="genere1">FPS</label><br />
              <input type="checkbox" id="genere2" name="genere2" value="GDR" onclick="" />
              <label for="genere2">GDR</label><br />
              <input type="checkbox" id="genere3" name="genere3" value="Puzzle" onclick="" />
              <label for="genere3">Puzzle</label><br />
              <input type="checkbox" id="genere4" name="genere4" value="Avventura" onclick="" />
              <label for="genere4">Avventura</label><br />
              <input type="checkbox" id="genere5" name="genere5" value="Horror" onclick="" />
              <label for="genere5">Horror</label><br />
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="dropbtn" onclick="OpenAnnoIN()">Dall'anno:
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="annoin">
              <input type="radio" id="da2020" name="year" value="2020" />
              <label for="da2020">2020</label><br />
              <input type="radio" id="da2019" name="year" value="2019" />
              <label for="da2019">2019</label><br />
              <input type="radio" id="da2018" name="year" value="2018" />
              <label for="da2018">2018</label><br />
              <input type="radio" id="da2017" name="year" value="2017" />
              <label for="da2017">2017</label><br />
              <input type="radio" id="da2016" name="year" value="2016" />
              <label for="da2016">2016</label><br />
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="dropbtn" onclick="OpenAnnoFIN()">All'anno:
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="annofin">
              <input type="radio" id="a2020" name="year" value="2020" />
              <label for="a2020">2020</label><br />
              <input type="radio" id="a2019" name="year" value="2019" />
              <label for="a2019">2019</label><br />
              <input type="radio" id="a2018" name="year" value="2018" />
              <label for="a2018">2018</label><br />
              <input type="radio" id="a2017" name="year" value="2017" />
              <label for="a2017">2017</label><br />
              <input type="radio" id="a2016" name="year" value="2016" />
              <label for="a2016">2016</label><br />
            </div>
          </div>
          <button class="searchbutton" type="submit">Submit</button> 
        </form>
        <div class="a-z_list">
          <ul class="letters">
            <li>
              <a class="btn-letter" href="#">Tutti</a>
            </li>
            <li>
              <a class="btn-letter" href="#">0-9</a>
            </li>
            <li>
              <a class="btn-letter" href="#">A</a>
            </li>
            <li>
              <a class="btn-letter" href="#">B</a>
            </li>
            <li>
              <a class="btn-letter" href="#">C</a>
            </li>
            <li>
              <a class="btn-letter" href="#">D</a>
            </li>
            <li>
              <a class="btn-letter" href="#">E</a>
            </li>
            <li>
              <a class="btn-letter" href="#">F</a>
            </li>
            <li>
              <a class="btn-letter" href="#">G</a>
            </li>
            <li>
              <a class="btn-letter" href="#">H</a>
            </li>
            <li>
              <a class="btn-letter" href="#">I</a>
            </li>
            <li>
              <a class="btn-letter" href="#">J</a>
            </li>
            <li>
              <a class="btn-letter" href="#">K</a>
            </li>
            <li>
              <a class="btn-letter" href="#">L</a>
            </li>
            <li>
              <a class="btn-letter" href="#">M</a>
            </li>
            <li>
              <a class="btn-letter" href="#">N</a>
            </li>
            <li>
              <a class="btn-letter" href="#">O</a>
            </li>
            <li>
              <a class="btn-letter" href="#">P</a>
            </li>
            <li>
              <a class="btn-letter" href="#">Q</a>
            </li>
            <li>
              <a class="btn-letter" href="#">R</a>
            </li>
            <li>
              <a class="btn-letter" href="#">S</a>
            </li>
            <li>
              <a class="btn-letter" href="#">T</a>
            </li>
            <li>
              <a class="btn-letter" href="#">U</a>
            </li>
            <li>
              <a class="btn-letter" href="#">V</a>
            </li>
            <li>
              <a class="btn-letter" href="#">W</a>
            </li>
            <li>
              <a class="btn-letter" href="#">X</a>
            </li>
            <li>
              <a class="btn-letter" href="#">Y</a>
            </li>
            <li>
              <a class="btn-letter" href="#">Z</a>
            </li>
          </ul>
        </div>
        <div class="dropdown" id="Ordine">
          <button class="dropbtn" onclick="OpenOrdine()">Ordine
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="ordine">
            <input type="button" value="più votati" onclick="" />
            <input type="button" value="più recenti" onclick="" />
          </div>
        </div>
    </div>
    <div id="games">
      <games_divs_ph/>
    </div>
</div>