

  <ul class="leftnav" id="submenu">
    <li><a class="active" href="<gioco_scheda_ph/>">Scheda Gioco</a></li>
    <li><a href="<gioco_recensione_ph/>">Recensione Gioco</a></li>
    <li><a href="<gioco_notizie_ph/>">Notizie Gioco</a></li>
  </ul>

<div class="container" id="content">
    <div class="info_gioco_scheda">
      <h3 class="titolo_info_scheda"><game_name_ph/></h3>
      <img class="sfondo noborder" src="<img_path_ph/>" alt="<img_alt_ph/>">
      <dl class="info_scheda">
        <dt>Piattaforma:</dt><dd><platforms_ph/></dd>
        <dt>Data pubblicazione:</dt><dd><publication_date_ph/></dd>
        <dt>Genere:</dt><dd><genres_ph/></dd>
        <dt>Sviluppo:</dt><dd><developer_ph/></dd>
        <dt>Pubblicazione:</dt><dd>FromSoftware, Bandai Namco</dd>
        <dt>Fascia di età:</dt><dd><age_range_ph/></dd>
        <dt>Espansioni:</dt><dd>Ashes of Ariandel, The Ringed City</dd>
        <dt>Prequel:</dt><dd><prequel_ph/></dd>
        <dt>Sequel:</dt><dd><sequel_ph/></dd>
      </dl>
      <p class="modifica" id="modifica_scheda_gioco"><a class="link" href="<game_edit_ph/>">Modifica gioco</a></p>
    </div>
    <div class="trama_gioco">
      <p class="testo">
        <sinopsis_ph/>
      </p>
    </div>
</div>