<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Home - NomeSito</title>
  <meta name="title" content="Sito Recensioni Videogiochi" />
  <meta name="description" content="Home Page del sito di Recensioni" />
  <meta name="keywords" content="Videogiochi games gaming recensioni" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="author" content="NomeGruppo" />
  <meta name="language" content="italian it" />

  <link rel="stylesheet" type="text/css" href="../style/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_landscape.css" media="handheld, screen and (max-width: 1024px), only screen and (max-device-width: 1024px)" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_portrait.css" media="handheld, screen and (max-width: 480px), only screen and (max-device-width: 480px)" />
  <link rel="stylesheet" type="text/css" href="../style/print.css" media="print" />

  <script type="text/javascript" src="../checkForm.js"></script>
</head>

<body>
  <div id="header">
    <a href="home.html"><img id="logo" alt="Qualcosa" src="../images/joystick.png" /></a>
		<h1 id="titolo1"> Recensioni </h1>
		<h2 id="titolo2"> Videogiochi </h2>
    <div class="loginblock">
      <a href="login.html"><img id="loginPic" alt="foto profilo utente" src="../images/login.png" /></a>
      <span id="login"><a href="login.html">Login</a> | <a href="registrati.html">Registrati</a></span>
    </div>
  </div>

  <div class="topnav" id="menu">

    <a  class="icon" onclick="myFunction()">
      <img id="hamburger" src="../images/barre_menu.png" alt="menu" />
    </a>

    <form class="searchbox" action="action_page.php" onsubmit="checkNotEmpty();">
      <fieldset>
        <label for="searchbar" class="structural">Cerca gioco:</label>
        <input list="titleInput" name="searchbar" id="searchbar" class="searchbar" />
        <datalist id="titleInput" class="formText">
          <opzioni_ph />
        </datalist>
        <button type="submit" class="searchbutton">Cerca</button>
      </fieldset>
    </form>

      <a class="active" href="Home.html"><span xml:lang="en">Home</span></a>
  		<a href="Giochi.html">Giochi</a>
      <a href="Notizie.html">Notizie</a>
        
  </div>

  <div id="breadcrumb">
      <p>Ti trovi in: <span xml:lang="en">Home</span></p>
  </div>

<div class="row">
  <div class="leftcolumn">
    <news_divs_ph/>
  </div>
  <div class="rightcolumn">
    <div id="top5" class="sidebox">
      <h4>TOP 5 VIDEOGIOCHI</h4>
        <ul>
        	<top_5_games_ph/>
        </ul>
    </div>
    <div id="gioco_della_settimana" class="sidebox">
        <h4> GIOCO DELLA SETTIMANA </h4>
          <div class="info_gioco">
            <a href="<top_game_url_ph/>"><h3 id="titolo_gioco_della_settimana"><top_game_name_ph/></h3><img class="cover_gioco_della_settimana" src="<top_game_img_path_ph/>" alt="<top_game_img_alt_ph/>"></a>
            <table class="info">
              <tr class="vote">
                <h4>Voto: <top_game_vote_ph/>/5</h4>
              </tr>
              <tr>
                <th style>
                  <h5>Piattaforma:</h5>
                </th>
                <td class style>
                  <p>PS4,Xbox One,PC</p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Data pubblicazione:</h5>
                </th>
                <td class style>
                  <p><top_game_publication_date_ph/></p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Genere:</h5>
                </th>
                <td class style>
                  <p>Action,RPG</p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Sviluppo:</h5>
                </th>
                <td class style>
                  <p>FromSoftware</p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Pubblicazione:</h5>
                </th>
                <td class style>
                  <p>FromSoftware,Bandai Namco</p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Fascia di età:</h5>
                </th>
                <td class style>
                  <p><top_game_age_range_ph/></p>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Espansioni:</h5>
                </th>
                <td class style>
                  <ul class="expansion">
                    <li>
                      <a href="DS3ariandel.html">Ashes of Ariandel</a>
                    </li>
                    <li>
                      <a href="DS3ringedcity.html">The Ringed City</a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Prequel:</h5>
                </th>
                <td class style>
                  <ul class="serie">
                    <li>
                      <a href="DS2.html">Dark Souls 2</a>
                    </li>
                    <li>
                      <a href="DS1.html">Dark Souls</a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th style>
                  <h5>Sequel:</h5>
                </th>
                <td class style>
                  <ul class="serie">
                    <li>
                      <p>Nessuno</p>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
    </div>
  </div>
</div>

<div id="footer">
	<img id="imgValidCode" alt="Certificato W3C xhtml" src="../images/valid-xhtml10.png" />
	<em> NomeGruppo - <span xml:lang="en">All rights Reserved</span> </em>
	<img id="imgValidCSS" alt="Certificato W3C css" src="../images/vcss-blue.gif" />
</div>

</body>
</html>
