<div class="notizia">
      <div class="news_top_bar">
        <p class="data"> <news_publication_date_time_ph/> </p>
		    <h3><a class="titolo_news" href="<news_url_ph/>"> <news_title_ph/> </a></h3>
        <p class="autore"> By <news_author_ph/> </p>
      </div>
        <a href="<news_url_ph/>"><img class="img_cover" src="<img_path_ph/>" alt="<img_alt_ph/>" /></a>
          <p class="descrizione_home">
          <news_content_ph/>
          <a class="keep_reading" href="<news_url_ph/>"> Continua a leggere...</a>
        </p>
        <p class="aiutoTornaSu"><a href="#top">Torna su</a></p>
    </div>