

<div class="container" id="content">
  <no_news_nor_games_ph/>
  <div class="leftcolumn">
    <news_divs_ph/>
  </div>
  <div class="rightcolumn">
    <top_games_ph>
    <div id="ultime_aggiunte" class="sidebox">
      <h4 tabindex="0" >ULTIME AGGIUNTE:</h4>
        <ul>
          <top_5_games_ph/>
        </ul>
    </div>
    <div id="gioco_della_settimana" class="sidebox">
        <h4 tabindex="0"> GIOCO DELLA SETTIMANA </h4>
          <div class="info_gioco">
            <h5 id="titolo_gioco_della_settimana"><a class="link" href="<top_game_url_ph/>"><top_game_name_ph/></a></h5><a tabindex="-1" href="<top_game_url_ph/>"><img class="img_sfondo noborder_home" src="<top_game_img_path_ph/>" alt="<top_game_img_alt_ph/>"></a>
                <p tabindex="0" class="valutazione" id="voto_home">Voto: <top_game_vote_ph/>/5</p>
                <dl class="info">
                  <dt tabindex="0">Piattaforma:</dt><dd tabindex="0"><top_game_platforms_ph/></dd>
                  <dt tabindex="0">Data pubblicazione:</dt><dd tabindex="0"><top_game_publication_date_ph/></dd>
                  <dt tabindex="0">Genere:</dt><dd tabindex="0"><top_game_genres_ph/></dd>
                  <dt tabindex="0">Sviluppo:</dt><dd tabindex="0"><top_game_developer/></dd>
                  <dt tabindex="0">Fascia di età:</dt><dd xml:lang="en" lang="en" tabindex="0">PEGI <top_game_age_range_ph/></dd>
                  <dt tabindex="0" xml:lang="en" lang="en">Prequel:</dt><dd tabindex="0"><top_game_prequel_ph/></dd>
                  <dt tabindex="0" xml:lang="en" lang="en">Sequel:</dt><dd tabindex="0"><top_game_sequel_ph/></dd>
                </dl>
          </div>
    </div>
    </top_games_ph>
  </div>
</div>
