
  
  <div class="main">
    <h1>Accedi al tuo account NomeSito</h1>
    <form id="loginForm" action="login.php" method="post" onsubmit="return validateForm();">
      <fieldset>

        <erroreLogin />

        <label for="nomeLogin">Nome:</label>
        <span><input type="text" id="nomeLogin"  name="nomeLogin" value="<valoreNome />" /></span><br />

        <label for="pw">Password:</label>
        <span><input type="password" id="pw" name="pw" value="<valorePassword />" /></span><br />

        <input type="submit" value="Login" />
      </fieldset>
    </form>
  </div>
