


  <div class="container" id="content">
    <div class="schedaForm">
      <h3 class="titolo_login_registrati">Accedi al tuo account ALLGames</h3>
      <form id="loginForm" action="login.php" onsubmit="return validateForm();">

        <messaggi_form_ph/>

        <fieldset>
          <label for="nomeUtente">Nome utente:</label>
          <span><input type="text" id="nomeUtente"  name="nomeUtente" value="<username_ph/>" placeholder="Nome utente" /></span><br />

          <label for="password">Password:</label>
          <span><input type="password" id="password" name="password" value="" placeholder="Password" /></span><br />
          <div class="loginButton" ><button type="submit">Login</button></div>

          <div class="nuovoUtente">
            <p class="messaggioLogin">Non hai un profilo? <a class="link" href="registrati.php">Creane subito uno</a></p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  