<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Login - NomeSito</title>
  <meta name="title" content="Login - NomeSito" />
  <meta name="description" content="Pagina di Login"/>
  <meta name="keywords" content="videogiochi, login, profilo" />

  <meta name="author" content="NomeGruppo" />
  <meta name="language" content="italian it" />

  <link rel="stylesheet" type="text/css" href="../style/style.css" media="screen" />
</head>

<body>

  <div id="header">
      <a href="home.html"><img id="logo" alt="" src="../images/joystick.png" /></a>
    <h1 id="titolo1"> Recensioni </h1>
    <h2 id="titolo2"> Videogiochi </h2>
      <div class="loginblock">
        <a href="login.html"><img id="loginPic" alt="foto profilo utente" src="../images/login.png" /></a>
        <span id="login"><a href="login.html">Login</a>/<a href="registrati.html">Registrati</a></span>
      </div>
  </div>
  

  <div class="topnav" id="menu">
    <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
      <i class="fa fa-bars"></i>
    </a>
    <form class="searchbox" id="barra_di_ricerca" action="/action_page.php">
      <label for="searchbar" class="structural">Barra di ricerca:</label>
      <input class="searchbar" type="text" placeholder="Cerca..." name="search">
      <button class="searchbutton" type="submit">Submit</button>
    </form>
        <a href="Home.html"><span xml:lang="en">Home</span></a>
  			<a href="Giochi.html">Giochi</a>
  		  <a href="Notizie.html">Notizie</a>
  			<a href="Forum.html">Forum</a>
  </div>


  <div id="breadcrumb">
    <p>Ti trovi in: <span xml:lang="en">Home >> Login</span></p>
  </div>
  
  <div class="main">
    <h1>Accedi al tuo account NomeSito</h1>
    <form id="loginForm" action="login.php" method="post" onsubmit="return validateForm();">
      <fieldset>

        <erroreLogin />

        <label for="nomeLogin">Nome:</label>
        <span><input type="text" id="nomeLogin"  name="nomeLogin" value="<valoreNome />" /></span><br />

        <label for="pw">Password:</label>
        <span><input type="password" id="pw" name="pw" value="<valorePassword />" /></span><br />

        <input type="submit" value="Login" />
      </fieldset>
    </form>
  </div>


  
  <div id="footer">
    <img id="imgValidCode" alt="Certificato W3C xhtml" src="../images/valid-xhtml10.png" />
    <em> NomeGruppo - <span xml:lang="en">All rights Reserved</span> </em>
    <img id="imgValidCSS" alt="Certificato W3C css" src="../images/vcss-blue.gif" />
  </div>
  
</body>

</html>
