
<div class="notizia">
  <div class="news_top_bar">
    <p class="data"> Pubblicata il <news_date_ph/> </p>
    <h3 class="titoli_notizie"><a class="link" href="<news_url_ph/>"> Dark <news_title_ph/> </a></h3>
    <p class="autore"> By <news_author_ph/> </p>
  </div>
    <a href="<news_url_ph/>"><img class="img_cover" src="<img_path_ph/>" alt="<img_alt_ph/>" /></a>
    <p class="descrizione">
      <news_content_ph/>
    </p>
    <p class="torna_su"><a class="link" href="#top">Torna su</a></p>
    <admin_func_ph><p class="modifica"><a class="link" href="<news_edit_ph/>">Modifica notizia</a></p></admin_func_ph>
</div>