

  <div class="contenutoGenerale">
    <div class="advance_filter_notizie">
    </div>
    <div class="spazio_contenuto">
      <div class="notizia">
        <div class="news_top_bar">
          <p class="data"> Pubblicata il 10 gennaio 2021 </p>
  		    <h3><a class="link" href="notizia_DS3.html"> Dark Souls 3: streamer Twitch lo finisce usando il controller di Guitar Hero, senza subire un colpo </a></h3>
          <p class="autore"> By Nome Cognome </p>
        </div>
          <a href="notizia_DS3.html"><img class="notizia_cover" src="../images/darksouls3.png" alt="" /></a>
          <p class="descrizione">
            Lo streamer Twitch MezzPlays ha finito Dark Souls 3 usando il controller di Guitar Hero, senza subire un colpo. Nemmeno il boss finale ha potuto niente contro di lui e la sua chitarrina di plastica. A rendere la già clamorosa impresa ancora più sorprendente il fatto che abbia anche corso parecchio, impiegando appena quattro ore per arrivare ai titoli di coda.
            Considerando che secondo il sito HowLongToBeat ci vogliono più di trenta ore solo per finire la storia principale, si tratta di un risultato davvero incredibile. Naturalmente MezzPlays conosce a menadito Dark Souls 3, altrimenti sarebbe stato impossibile giocarci in questo modo...
          </p>
          <p class="aiutoTornaSu"><a class="link" href="#top">Torna su</a></p>
          <p class="modifica"><a class="link" href="">Modifica notizia</a></p>
      </div>
    </div>
  </div>
