

<div class="container" id="content">
  <div class="notizia_singola">
    <div class="info_notizia">
      <img class="sfondo" src="<img_path_ph/>" alt="<img_alt_ph/>">
    </div>
    <div class="contenitore_notizia">
      <h3 class="titolo_recensione_notizia"><news_title_ph/></h3>
      <p class="autore_notizia">by <news_author_ph/></p>
      <p class="data_pubblicazione">Pubblicata il <news_publication_date_ph/></p>
      <p class="testo">
        <news_content_ph/>
      </p>
      <admin_func_ph><p class="modifica" id="modifica_scheda_notizia"><a class="link" href="<news_edit_ph/>">Modifica notizia</a></p></admin_func_ph>
    </div>
  </div>
</div>