

  <div class="container" id="content">
    <div class="schedaAdmin">
      <h3>Profilo personale:</h3>
      <div>
        <img id="imgProfilo" alt="immagine profilo utente" src="<user_image_ph/>" />
        <div class="infoUtente">
          <dl>
            <dt>Nome Utente:</dt>
            <dd><username_ph/></dd>
            <dt>E-mail:</dt>
            <dd><email_ph/></dd>
          </dl>
          <form action="edit_profilo.php">
              <fieldset>
                  <button type="submit">Modifica profilo</button>
              </fieldset>
          </form>
        </div>
      </div>
    </div>

    <admin_placeholder_ph/>

  </div>

  