

  <div class="contenutoGenerale">
    <div class="schedaAdmin">
      <h2>Profilo personale:</h2>
      <div>
        <img id="imgProfilo" alt="immagine profilo utente" src="<user_image_ph/>" />
        <div class="infoUtente">
          <dl>
            <dt xml:lang="en">Nickname:</dt>
            <dd><username_ph/></dd>
            <dt>Email:</dt>
            <dd><email_ph/></dd>
          </dl>
          <form action="form_profilo.php">
              <fieldset>
                  <button type="submit">Modifica profilo</button>
              </fieldset>
          </form>
        </div>
      </div>
    </div>
  
    <admin_placeholder_ph/>
  
  </div>
