

    <div class="container" id="content">
      <div class="schedaForm">
        <h3 class="titolo_login_registrati">Crea il tuo account ALLGames</h3>
        <form action="registrati.php" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
          <p>I campi marcati con * sono obbligatori.</p>

          <messaggi_form_ph/>
          
          <fieldset>
            <h4>Dati personali</h4>
            
            <p>Inserire la propria <em>Email</em> personale.</p>
            <label for="email">*Email</label>
            <span><input type="text" name="email" id="email" value="<email_ph/>" placeholder="Inserisci la tua e-mail" /></span><br />

            <p>Il <em>nome utente</em> deve contenere da 4 a 15 caratteri (lettere o numeri).</p>
            <label for="nomeUtente">*Nome utente</label>
            <span><input type="text" name="username" id="nomeUtente" value="<username_ph/>" placeholder="Da 4 a 15 caratteri alfanumerici" /></span><br />

            <p>Inserire un'<em>immagine di profilo</em>. Il file immagine deve avere un rapporto tra l'altezza e la larghezza compreso tra <img1_min_ratio/> e <img1_max_ratio/></p>
            <label for="immagine">*Immagine profilo</label>
            <span><input type="file" id="immagine" name="immagine" /></span><br />
          </fieldset>

          <fieldset>
            <h4>Password</h4>
            <p>La <em>password</em> deve contenere da 8 a 16 caratteri (lettere o numeri), fra cui almeno un numero, una lettera minuscola e una maiuscola. Inserire la password scelta nei campi <em>password</em> e <em>ripeti password</em>.</p>
            
            <label for="password">*Password</label>
            <span><input type="password" name="password" id="password" value="" placeholder="Password" /></span><br />

            <label for="repeatpassword">*Ripeti password</label>
            <span><input type="password" name="repeatpassword" id="repeatpassword" value="" placeholder="Ripeti password" /></span><br />

            <div class="loginButton"><button type="submit" name="registrati" >Registrati</button></div>
          </fieldset>
        </form>
      </div>
    </div>

    