<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Home - ALLGames</title>
  <meta name="title" content="Sito Recensioni Videogiochi" />
  <meta name="description" content="Home Page del sito di Recensioni" />
  <meta name="keywords" content="Videogiochi games gaming recensioni" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="author" content="NomeGruppo" />
  <meta name="language" content="italian it" />

  <link rel="stylesheet" type="text/css" href="../style/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_landscape.css" media="handheld, screen and (max-width: 1024px), only screen and (max-device-width: 1024px)" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_portrait.css" media="handheld, screen and (max-width: 480px), only screen and (max-device-width: 480px)" />
  <link rel="stylesheet" type="text/css" href="../style/print.css" media="print" />

  <script type="text/javascript" src="../checkForm.js"></script>

</head>

<body>
  <div id="header">
    <a href="home.html"><img id="logo" alt="Qualcosa" src="../images/joystick.png" /></a>
		<h1 id="titolo1"><span xml:lang="en">ALLGames</span></h1>
		<h2 id="titolo2">Recensioni e notizie riguradanti i giochi</h2>
    <div class="loginblock">
      <a href="profilo.php"><img id="loginPic" alt="foto profilo utente" src="<user_img_path_ph/>" /></a>
      <not_logged_in><span id="login"><a class="link_login" href="login.html">Login</a> | <a class="link_login" href="registrati.html">Registrati</a></span></not_logged_in>
      <logged_in><span id="login"><username_ph/> | <a href="?logout=true">Logout</a></span></logged_in>
    </div>
  </div>

  <div class="topnav" id="menu">
  	<form action="<this_url_ph/>" method="get">
    <button type="submit" name="tendina" value="<tendina_bool_ph/>" class="icon" onclick="responsiveMenu()">
      <img id="hamburger" src="../images/barre_menu.png" alt="menu" />
    </button>
	</form>

    <form class="searchbox" action="giochi.php" onsubmit="return checkNotEmpty();" role="search">
      <fieldset>
        <label for="searchbar" class="structural">Cerca gioco:</label>
        <input list="titleInput" name="searchbar" id="searchbar" class="searchbar" placeholder="Cerca gioco..." aria-label="Campo per la ricerca di giochi" />
        <datalist id="titleInput" class="formText">
          <opzioni_ph/>
        </datalist>
        <button type="submit" class="searchbutton">Cerca</button>
      </fieldset>
    </form>

    <ul class="menu">
        <li><a <home_active>class="active"<home_active/> href="Home.html"><span xml:lang="en">Home</span></a></li>
        <li><a <giochi_active>class="active"<giochi_active/> href="Giochi.html">Giochi</a></li>
        <li><a <notizie_active>class="active"<notizie_active/> href="Notizie.html">Notizie</a></li>
    </ul>
  </div>

  <div id="breadcrumb">
      <p>Ti trovi in: <span xml:lang="en">Home</span></p>
  </div>





  <page_content_ph/>





<div id="footer">
  <img id="imgValidCode" alt="Certificato W3C xhtml" src="../images/valid-xhtml10.png" />
  <em> NomeGruppo - <span xml:lang="en">All rights Reserved</span> </em>
  <img id="imgValidCSS" alt="Certificato W3C css" src="../images/vcss-blue.gif" />
</div>

</body>
</html>
