<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title><page_title_ph/></title>
  <meta name="title" content="Sito Recensioni Videogiochi" />
  <meta name="description" content="Home Page del sito di Recensioni" />
  <meta name="keywords" content="Videogiochi games gaming recensioni" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="author" content="Noi4" />
  <meta name="language" content="italian it" />

  <link rel="stylesheet" type="text/css" href="../style/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_landscape.css" media="handheld, screen and (max-width: 1024px), only screen and (max-device-width: 1024px)" />
  <link rel="stylesheet" type="text/css" href="../style/mobile_portrait.css" media="handheld, screen and (max-width: 480px), only screen and (max-device-width: 480px)" />
  <link rel="stylesheet" type="text/css" href="../style/print.css" media="print" />

  <script type="text/javascript" src="../checkForm.js"></script>
</head>

<body <body_onload_ph/>>
  <div id="header">
    <a class="aiutiNascosti" href="#vociMenu"> Vai al menù </a>
    <a class="aiutiNascosti" href="#content"> Vai al contenuto </a>

    <a href="home.php"><img id="logo" alt="ALL Games Logo" src="../images/joystick.png" /></a>
		<h1 id="titolo1"><span xml:lang="en" lang="en">ALLGames</span></h1>
		<h2 id="titolo2">Tutto sui Videogiochi</h2>
    <logged_ph/>
  </div>
  <div class="topnav" id="menu">
    <button  class="icon" onclick="responsiveMenu()">
      <img id="hamburger" src="../images/barre_menu.png" alt="menu" />
    </button>

    <form class="searchbox" action="giochi.php" onsubmit="return checkNotEmpty('searchbar');" role="search">
      <fieldset>
        <label for="searchbar" class="structural">Cerca gioco:</label>
        <input list="titleInput" name="searchbar" id="searchbar" class="searchbar" placeholder="Cerca gioco..." aria-label="Campo per la ricerca di giochi" />
        <datalist id="titleInput" class="formText">
          <opzioni_ph/>
        </datalist>
        <button type="submit" class="searchbutton">Cerca</button>
      </fieldset>
    </form>

    <ul id="vociMenu" class="menu">
        <li><a <home_active>class="active"</home_active> href="home.php"><span xml:lang="en" lang="en">Home</span></a></li>
        <li><a <giochi_active>class="active"</giochi_active> href="giochi.php">Giochi</a></li>
        <li><a <notizie_active>class="active"</notizie_active> href="notizie.php">Notizie</a></li>
    </ul>

  </div>

  <div role="breadcrumb" id="breadcrumb">
      <p>Ti trovi in: <page_breadcrumb_ph/></p>
  </div>

<page_content_ph/>

<div id="footer">
	<img id="imgValidCode" alt="Certificato W3C xhtml" src="../images/valid-xhtml10.png" />
	<ul tabindex="0" class="footer_ul">
		<li>
			<em> Noi4© - Progetto di Tecnologie Web 2020/2021 </em>
		</li>
		<li>
			<em> Contatti: noi4.dev@gmail.com </em>
		</li>
	</ul>
	<img id="imgValidCSS" alt="Certificato W3C css" src="../images/vcss-blue.gif" />
</div>

</body>
</html>
