
<div class="container" id="content">
  <div class="leftcolumn">
    <news_divs_ph/>
  </div>
  <div class="rightcolumn">
    <div id="ultime_aggiunte" class="sidebox">
      <h4>ULTIME AGGIUNTE:</h4>
        <ul>
          <top_5_games_ph/>
        </ul>
    </div>
    <div id="gioco_della_settimana" class="sidebox">
        <h4> GIOCO DELLA SETTIMANA </h4>
          <div class="info_gioco">
            <h5 id="titolo_gioco_della_settimana"><a class="link" href="<top_game_url_ph/>"><top_game_name_ph/></a></h5><a tabindex="-1" href="<top_game_url_ph/>"><img class="img_sfondo noborder_home" src="<top_game_img_path_ph/>" alt="<top_game_img_alt_ph/>"></a>
                <p class="valutazione" id="voto_home">Voto: <top_game_vote_ph/>/5</p>
                <dl class="info">
                  <!--<dt>Piattaforma:</dt><dd>PS4,Xbox One,PC</dd>-->
                  <dt>Data pubblicazione:</dt><dd><top_game_publication_date_ph/></dd>
                  <!--<dt>Genere:</dt><dd>Action,RPG</dd>-->
                  <!--<dt>Sviluppo:</dt><dd>FromSoftware</dd>-->
                  <dt>Pubblicazione:</dt><dd>FromSoftware, Bandai Namco</dd>
                  <dt>Fascia di età:</dt><dd>PEGI <top_game_age_range_ph/></dd>
                </dl>
          </div>
    </div>
  </div>
</div>