

<div class="container" id="content">

<div class="groupErrore">
  <div class="schedaErrore">

    <p>Non è possibile raggiungere le pagine di <em>Login</em> e <em>Registrazione</em> dopo aver effettuato l'accesso con un account. </p>
    <p>Se desideri cambiare profilo devi prima effettuare il <strong>logout</strong>. </p> 
    <p>Puoi effettuare il <strong>logout</strong> dalla tua pagina profilo utilizzando il seguente collegamento</p>

  </div>
  <a class="buttonLink" href="Notizie.html" >Profilo</a>
</div>
</div>